.display-none {
  display: none;
}

.modal{
    position:relative;
}

.readModal{
    display: none;
    position: fixed;
    align-items: center;
    padding-top: 100px;
    left: 25%;
    top: 20%;
    width: 50vw;
    height: 20%;
    overflow: hidden;
    background-color: rgb(180, 180, 241);
    border: 1px solid black;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.display-flex{
  display: flex;
}